include .hgtags
include AUTHORS
include COPYING
include FAQ
include INSTALL
include README.1st
include README.historic
include README.new_fusepy_api
include README.package_maintainers
include example/_find_fuse_parts.py
include example/hello.py
include example/xmp.py
include fuse.py
include fuseparts/__init__.py
include fuseparts/_fusemodule.c
include fuseparts/setcompatwrap.py
include fuseparts/subbedopts.py
include make_release.sh
include setup.py
include util/fusepychangelog.tmpl
include util/voidspace-fusepy.css
include Changelog
include README.new_fusepy_api.html
